<nav class="navbar navbar-expand-sm bg-success navbar-dark">
  <a class="navbar-brand" href="#">
    Angular Task Manager
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-targer="#mynav">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="mynav">
      <ul class="navbar-nav mr-auto">
        <li class="navbar-item">
          <a class="nav-link" routerLink="dashboard">Dashboard</a>
        </li>
        <li class="navbar-item">
          <a class="nav-link" routerLink="about-us">About Us</a>
        </li>
      </ul>
  </div>
</nav>

<div class="container-fluid">
  <router-outlet></router-outlet>
</div>
